/* organizers */
#organizers h3 {
    margin-bottom: 0.1em;
}

#organizers h5 {
    text-transform: none;
    font-size: 0.8em;
    font-weight: 100;
}


/* invited-participants */
#invited-participants ul li {
    letter-spacing : 1.5px;
}
