/* organizers */
#organizers h3 {
    margin-bottom: 0.1em;
}

#organizers h5 {
    text-transform: none;
    font-size: 0.8em;
    font-weight: 100;
}

/* conference schedule */
table th {
    font-weight: 500;
    padding-top: 0.5em;
    text-align: center;
    font-size: 1.2em;
}

table span {
    font-size: 0.9em;
    font-style: italic;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.note {
    font-size: 0.9em;
    font-style: italic;
}

/* invited-participants */
#invited-participants ul li {
    letter-spacing : 1.5px;
    padding-right: 1em;
}

#invited-participants ul li h3 {
    font-size: 1.1em;
    text-transform: capitalize;
}

#invited-participants ul li h3 span{
    font-weight: 100;
    font-size: 0.7em;
    font-style: italic;
}

#invited-participants p {
    text-indent: 2em;
}

/* maps and information*/
